<h1>{{ currentCustomerBrand }}, {{ currentOutletLocation }}</h1>
<div class="card gedf-card manage-current-user">
  <app-register (emitUser)="registerUser($event)"></app-register>

  <table class=" table table-striped table-responsive-md btn-table col-sm-6 mb-3 mb-md-0">
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Created on:</th>
        <th>Outlet</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <div class="check-for-outlets" *ngIf="users && users.length === 0">
      No results yet!
    </div>
    <tbody *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p, id: 'allUsers' }; index as i">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.userName }}</td>
        <td>{{ user.createdOn | date: 'short' }}</td>
        <td>{{ user.outletName.location }}</td>
        <td>User</td>
        <td>
          <i class="far fa-edit fa-2x" aria-hidden="true" data-toggle="modal" data-target="#editUserModal"
            (click)="getUserIdToEdit(user.id)"></i>
        </td>
        <td>
          <i class="fa fa-trash fa-2x" aria-hidden="true" (click)="getUserIdToEdit(user.id)" data-toggle="modal"
            data-target="#confirmation"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls class="pagination" id='allUsers' (pageChange)="this.p = $event"></pagination-controls>
