<div class="card gedf-card">
  <div class="card-header">
    <a>Create</a>
  </div>
  <div class="card-body">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="items" role="tabpanel" aria-labelledby="items-tab">
        <div class="form-group">
          <label class="sr-only" for="message">item</label>
          <input #inputItem="ngModel" class="form-control" id="message" rows="3" placeholder="Enter name" ngModel
            required minlength="3" [(ngModel)]="inputValue" (keyup.enter)="createItem(inputItem.value)" />
          <div id="newItem" *ngIf="
              inputItem.dirty && inputItem.invalid && inputItem?.errors.required
            ">
            Content required!
          </div>
          <div id="newItemMinLength" *ngIf="
              inputItem.dirty &&
              inputItem.invalid &&
              inputItem?.errors.minlength
            ">
            Content must be at least 3 symbols!
          </div>
        </div>
      </div>
    </div>
    <div class="btn-toolbar justify-content-between">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="createItem(inputItem.value)"
          [disabled]="inputItem.invalid">
          Create
        </button>
      </div>
    </div>
  </div>
</div>
