<div id="admin" class="card gedf-card redemption-records">
  <form>
    <div class="form-group form-inline">
      Full text search:
      <input class="form-control ml-2" type="text" [formControl]="filter" />
    </div>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Brand</th>
        <th scope="col">Outlet</th>
        <th scope="col">User</th>
        <th scope="col">Prize</th>
        <th scope="col">Created on</th>
      </tr>
    </thead>
    <div class="check-for-records" *ngIf="redemptionRecords && redemptionRecords.length === 0">
      No results yet!
    </div>
    <tbody
      *ngFor="let record of records$ | async | paginate: { itemsPerPage: 10, currentPage: p, id: 'allRedemptions' }; index as i">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <ngb-highlight [result]="record.brand.brand" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="record.outlet.location" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="record.user.userName" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="record.prize.prize" [term]="filter.value"></ngb-highlight>
        </td>

        <td>
          <ngb-highlight [result]="record.timestamp | date" [term]="filter.value"></ngb-highlight>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls class="pagination" id='allRedemptions' (pageChange)="this.p = $event"></pagination-controls>
