<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edit</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-4">
          <i class="fa fa-pencil prefix grey-text"></i>
          <input
            #itemInput
            type="input"
            id="form3"
            class="form-control validate"
            value=""
          />
          <label data-error="wrong" data-success="right" for="form2"
            >Enter new parameter</label
          >
        </div>

        <div class="modal-footer d-flex justify-content-center">
          <button
            class="btn btn-indigo"
            data-dismiss="modal"
            (click)="editItem(itemInput.value)"
            (click)="itemInput.value = ''"
          >
            Edit <i class="fa fa-paper-plane-o ml-1"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
