.pagination {
  justify-content: center;
}

.manage-user {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  align-content: center;

}

@media screen and (min-width: 768px) {
  .manage-user {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    align-content: center;
  }
}
