.pagination {
  justify-content: center;
}

.redemption-records {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .redemption-records {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
  }
}
