<ngb-tabset>
  <ngb-tab title="Personal redemptions:">
    <ng-template ngbTabContent>
      <app-user-redemptions [username]="username" [userRedemptions]="userRedemptions"></app-user-redemptions>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Outlet redemptions:</ng-template>
    <ng-template ngbTabContent>
      <app-outlet-redemptions [outletRedemptions]="outletRedemptions"></app-outlet-redemptions>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
