<ngb-tabset>
  <ngb-tab title="Basic user">
    <ng-template ngbTabContent>
      <app-manage-users [users]="users" [customers]="customers" [outlets]="outlets"
        (emitUserIdToDelete)="getCurrentUserIdToDelete($event)" (emitCustomer)="getCustomerByName($event)"
        (emitOutlet)="getOutletByName($event)" (emitRegisterUser)="registerBasicUser($event)">
      </app-manage-users>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Administrator</ng-template>
    <ng-template ngbTabContent>
      <app-manage-admin [admins]="admins" (emitRegisterAdmin)="registerAdmin($event)"
        (emitDeleteAdmin)="deleteAdmin($event)">
      </app-manage-admin>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<app-confirmation (emitRecordId)="deleteUser(currentUserId)"> </app-confirmation>
