.auth-centered {
    margin: 0 auto;
    text-align: center;
}

.row {
   margin-top: 2rem;
}

.error-text {
    color: red;
 }
 
 input.ng-invalid {
    border-left: 5px solid red;
 }
   
 input.ng-valid {
    border-left: 5px solid green;
 }