<div class="footer py-4">
  <footer class="page-footer font-small special-color-dark pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">About us</h6>
          <hr
            class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px;"
          />
          <p>
            The Coca-Cola Company (NYSE: KO) is a total beverage company,
            offering over 500 brands in more than 200 countries and territories.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr
            class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px;"
          />
          <p>
            <a href="https://www.coca-colacompany.com/packages/brands"
              >Brands</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr
            class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px;"
          />
          <p>
            <app-issue (emitIssue)="submitIssue($event)"></app-issue>
          </p>

          <div>
            <a href="" data-toggle="modal" data-target="#modalSubscriptionForm"
              >Submit issue</a
            >
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr
            class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px;"
          />
          <p><i class="fas fa-home mr-3"></i>Atlanta, GA 30301, USA</p>
          <p><i class="fas fa-envelope mr-3"></i>P.O. Box 1734</p>
          <p><i class="fas fa-phone mr-3"></i> + 1.800.GET.COKE</p>
          <p><i class="fas fa-print mr-3"></i>(800.438.2653)</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <div class="footer-copyright text-center py-3">
      © 2019 Copyright:
      <a href="https://www.coca-colacompany.com/"> Coca-ColaCompany.com</a>
    </div>
  </footer>
</div>
