<nav class="navbar-expand-lg navbar navbar-icon-top navbar-expand-lg navbar-light bg-light Navigation">

  <a class="navbar-brand" style="color: rgb(185, 33, 33)">
    <i class="fa fa-globe"></i>
    Coca-Cola Company
    <span class="sr-only">(current)</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]=" {'show' : toggleButton}" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-custom mr-auto">
      <ng-template [ngIf]="loggedIn">
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa fa-home" (click)="this.homeNavigate(role)"></i>
            Home
          </a>
        </li>

        <ng-template [ngIf]="role === 'Basic'">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['user/profile']">
              <i class="fa fa-user"></i>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['user/history']">
              <i class="fa fa-rss-square">
              </i>
              History
            </a>
          </li>
        </ng-template>
        <h5> Welcome, {{username}} </h5>

        <li *ngIf="loggedIn" class="nav-item pull-right" (click)="this.triggerLogout()">
          <a class="nav-link">
            <i class=" fa fa-sign-out"></i>
            Logout
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
