<div id="user-reports" class="card gedf-card redemption-records">
  <form>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Prize</th>
        <th scope="col">Created on</th>
      </tr>
    </thead>
    <div class="check-for-records" *ngIf="userRedemptions && userRedemptions.length === 0">
      No results yet!
    </div>
    <tbody
      *ngFor="let record of userRedemptions | paginate: { itemsPerPage: 10, currentPage: p, id: 'redemptions' }; index as i">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{username}}
        </td>
        <td>
          {{record.prize.prize}}
        </td>
        <td>
          {{record.timestamp | date: 'short' }}
        </td>

      </tr>
    </tbody>
  </table>
  <pagination-controls class="pagination" id='redemptions' (pageChange)="this.p = $event"></pagination-controls>

</div>
