<div class="card text-center align-items-center">
  <div class="card-body">
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Enter prize barcode: </span>
        </div>
        <input
          #inputPrizeBarcode
          type="text"
          class="form-control"
          [(ngModel)]="inputPrizeBarcodeToDelete"
          name="prize"
        />
        <!-- <input type="text" value="" ng-virtual-keyboard ng-virtual-keyboard-layout="numeric"
          ng-virtual-keyboard-placeholder="Custom placeholder text" /> -->
      </div>
    </form>
    <button
      type="button"
      class="btn btn-submit"
      (click)="submitBarcode(inputPrizeBarcode.value)"
      [disabled]="inputPrizeBarcode.value === ''"
    >
      Redeem
    </button>
  </div>
</div>
