<div class="card-group mx-3">

  <div class="card mx-3" [routerLink]="['/admin', 'manage-customers']">
    <i class="icon" class="fas fa-tools fa-10x"></i>
    <div class="card-body">
      <h5 class="card-title">Manage Customers</h5>
      <p class="card-text">
        Manage Customers, Outlets and Users.
      </p>
    </div>
  </div>

  <div class="card mx-3" [routerLink]="['/admin', 'manage-users']">
    <i class="fas fa-users fa-10x"></i>
    <div class="card-body">
      <h5 class="card-title">Manage Users</h5>
      <p class="card-text">
        Create, Edit or delete users.
      </p>
    </div>
  </div>

  <div class="card mx-3" [routerLink]="['/admin', 'reports']">
    <i class="fas fa-chart-line fa-10x"></i>
    <div class="card-body">
      <h5 class="card-title">Reports</h5>
      <p class="card-text">
        Get reports on platform activity.
      </p>
    </div>
  </div>

  <div class="card mx-3" [routerLink]="['/admin', 'manage-customers']">
    <i class="fas fa-chart-pie fa-10x"></i>
    <div class="card-body">
      <h5 class="card-title">Dashobard</h5>
      <p class="card-text">
        Go to the Dashboard.
      </p>
    </div>
  </div>

</div>
