<div class="modal" tabindex="-1" role="dialog" id="editUserModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit users' outlet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select class="form-control" (change)="getNewOutletName($event.target.value)">
          <option selected> Select new outlet: </option>
          <option *ngFor="let outlet of allOutlets">
            {{ outlet.location }}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="emitOutletName(this.newOutlet)" data-dismiss="modal">Save
          changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
