<div class="card text-center align-items-center">
  <div class="card-body">
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Or type the code here: </span>
        </div>
        <input #inputBarcode type="text" class="form-control" [(ngModel)]="inputBarcodeToDelete" name="inptField"
          (keypress)="submitBarcode(inputBarcode.value)" />
        <!-- <input type="text" value="" ng-virtual-keyboard ng-virtual-keyboard-layout="numeric"
          ng-virtual-keyboard-placeholder="Custom placeholder text" /> -->
      </div>
    </form>
    <button type="button" class="btn btn-submit" (click)="submitBarcode(inputBarcode.value)"
      [disabled]="inputBarcode.value === ''">
      Submit
    </button>
  </div>
</div>

<div *ngIf="redemptionConfirmed">
  <app-enter-prize-barcode (emitPrizeBarcode)="redeemPrize($event)"></app-enter-prize-barcode>
</div>
