<h1>{{ currentCustomerBrand }}</h1>
<div id="admin" class="card gedf-card manage-outlet">
  <app-create-customer (emitItemName)="createOutlet($event)"></app-create-customer>

  <table class="table table-striped table-responsive-md btn-table col-sm-6 mb-3 mb-md-0">
    <thead>
      <tr>
        <th>#</th>
        <th>Location</th>
        <th>Created on:</th>
        <th>Users</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <div class="check-for-outlets" *ngIf="outlets && outlets.length === 0">
      No results yet!
    </div>
    <tbody
      *ngFor="let outlet of outlets | paginate: { itemsPerPage: 10, currentPage: p, id: 'allOutlets' }; index as i">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ outlet.location }}</td>
        <td>{{ outlet.createdOn | date }}</td>
        <td>
          <i class="fas fa-users fa-2x" [routerLink]="['outlets', outlet.id]"></i>

        </td>
        <td>
          <div>
            <i class="far fa-edit fa-2x" aria-hidden="true" data-toggle="modal" data-target="#editModal"
              (click)="getOutlet(outlet.id)"></i>
            <app-edit-customer (emitEdittedName)="editOutlet($event)">
            </app-edit-customer>
          </div>
        </td>
        <td>
          <i class="fa fa-trash fa-2x" aria-hidden="true" (click)="getOutlet(outlet.id)" data-toggle="modal"
            data-target="#confirmation"></i>
          <app-confirmation [recordId]="selectedOutletId" (emitRecordId)="deleteOutlet($event)"></app-confirmation>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls class="pagination" id='allOutlets' (pageChange)="this.p = $event"></pagination-controls>
