<ngb-tabset>
  <ngb-tab title="Redemtion Records">
    <ng-template ngbTabContent>
      <app-redemption-record
        [redemptionRecords]="redemptionRecords"
      ></app-redemption-record>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Platform Activity">
    <ng-template ngbTabContent>
      <app-audit-trail [activityRecords]="activityRecords"></app-audit-trail>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
