<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
      In</label>
    <input type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab"></label>
    <div class="login-form">
      <form [formGroup]="this.loginForm">
        <div class="sign-in-htm">
          <div class="group">
            <label for="user1" class="label">Email</label>
            <input id="user1" formControlName="email" type="text" class="input">
            <div *ngIf="
                this.loginForm.controls.email.invalid &&
                this.loginForm.controls.email.dirty">
              <p *ngIf="this.loginForm.controls.email.errors.required" class="error-text">
                Please enter your email.
              </p>
              <p *ngIf="!!this.loginForm.controls.email.errors.minlength" class="error-text">
                Email must be at least 7 characters long.
              </p>
            </div>
            <label for="pass" class="label">Password</label>
            <input id="pass" formControlName="password" type="password" class="input" data-type="password">
            <div *ngIf="
                !!this.loginForm.controls.password.invalid &&
                !!this.loginForm.controls.password.dirty
              ">
              <p *ngIf="!!this.loginForm.controls.password.errors.required">
                Please enter your password.
              </p>
              <p *ngIf="!!this.loginForm.controls.password.errors.pattern">
                The password must be at least 6 symbols long and must include:
                one lower, one upper case letter, one number and one special symbol.
              </p>
            </div>
          </div>
          <div class="group">
            <input type="submit" class="button" (click)="this.triggerLogin()" value="Sign In">
          </div>
          <div class="hr"></div>
        </div>
      </form>
    </div>
  </div>
</div>
