.pagination {
  justify-content: center;
}

.manage-admin {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;

}

@media screen and (min-width: 768px) {
  .manage-admin {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
  }
}

.create-customer {
  padding: 5%;
}
