<div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="barcodeConfirmation">
          The code is {{ barcodeStatus }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="barcodeStatus === barcodeStatusEnum.VALID">
        Do you want to redeem now?
      </div>
      <div class="modal-footer">
        <button
          *ngIf="barcodeStatus === barcodeStatusEnum.VALID"
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="confirmRedemption('cancel')"
        >
          No
        </button>
        <button
          *ngIf="barcodeStatus === barcodeStatusEnum.VALID"
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="confirmRedemption('confirm')"
        >
          Yes
        </button>
        <button
          *ngIf="barcodeStatus === barcodeStatusEnum.REDEEMED"
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="confirmRedemption('report')"
        >
          Report
        </button>
        <button
          *ngIf="barcodeStatus !== barcodeStatusEnum.VALID"
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="confirmRedemption('cancel')"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
