<h1>Manage all Customers</h1>
<div id="admin" class="card gedf-card manage-customer">
  <app-create-customer (emitItemName)="createCustomer($event)"></app-create-customer>

  <table class="table table-striped table-responsive-md btn-table col-sm-6 mb-3 mb-md-0">
    <thead>
      <tr>
        <th>#</th>
        <th>Brand name</th>
        <th>Created on:</th>
        <th>Outlets</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <div class="check-for-outlets" *ngIf="customers && customers.length === 0">
      No results yet!
    </div>
    <tbody
      *ngFor="let customer of customers | paginate: { itemsPerPage: 10, currentPage: p, id: 'allCustomers' }; index as i">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ customer.brand }}</td>
        <td>{{ customer.createdOn | date }}</td>
        <td>
          <i class="fas fa-shopping-bag fa-2x" [routerLink]="[customer.id]"></i>
        </td>
        <td>
          <div>
            <i class="far fa-edit fa-2x" aria-hidden="true" data-toggle="modal" data-target="#editModal"
              (click)="getCustomer(customer.id)"></i>

            <app-edit-customer (emitEdittedName)="editCustomer($event)">
            </app-edit-customer>
          </div>
        </td>

        <td>
          <i class="fa fa-trash fa-2x" aria-hidden="true" (click)="getCustomer(customer.id)" data-toggle="modal"
            data-target="#confirmation"></i>
          <app-confirmation [recordId]="selectedCustomerId" (emitRecordId)="deleteCustomer($event)">
          </app-confirmation>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls class="pagination" id='allCustomers' (pageChange)="this.p = $event"></pagination-controls>
