@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

i {
  cursor: pointer;
}

.pagination {
  justify-content: center;
}

.wrapper {
  width: 40%;
  align-content: center;
  border: 3px;
  margin: auto;
  padding: 2%;
}

.manage-customer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;

}

@media screen and (min-width: 768px) {
  .manage-customer {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
  }
}

.create-customer {
  padding: 5%;
}
