<div class="row ">
  <div class="col-sm-6">
    <div class="card  text-center">
      <div class="card-body">
        <a
          routerLinkActive="router-link-active"
          title=""
          [routerLink]="['barcode-scan']"
          ><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuwHkBbWfbAISa33Yj73nk1U6eQ0_vtkkNaYeItIkRapg9Gt8w6Q"
            class="img-responsive"
        /></a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <app-enter-barcode></app-enter-barcode>
  </div>
</div>
