/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

.btn {
  min-width: 100px;
}

.btn:active,
.btn:focus,
.btn:active:focus,
.btn:focus:active,
.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler:active:focus,
.navbar-toggler:focus:active,
input:active,
input:focus,
input:active:focus {
  outline: none;
}
